<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.user.service.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.study.user.service.entity.UserEntity">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="memberLevel" column="member_level"/>
        <result property="wxOpenId" column="wx_open_id"/>
        <result property="wxUnionId" column="wx_union_id"/>
        <result property="avatarUrl" column="avatar_url"/>
    </resultMap>

    <select id="findByUsername" resultMap="UserResultMap">
        select id, username, nickname, email, member_level, wx_open_id, wx_union_id, avatar_url
        from study_user
        where username = #{username}
    </select>

    <select id="findByWxOpenId" resultMap="UserResultMap">
        select id, username, nickname, email, member_level, wx_open_id, wx_union_id, avatar_url
        from study_user
        where wx_open_id = #{openId}
    </select>
</mapper>
